* {
    box-sizing: border-box;
}
/* a{
    text-decoration: none;
} */
body{
    margin: 0;
    font-family: soleil,Helvetica,Arial,sans-serif;
}

input[type=text],input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #ccc;
}


/* set button style all butoon */
.loginBtn {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#sign101{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    border: 1px solid rgb(168, 162, 162);
    margin: auto;
    margin-top: 75px;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.signInName{
    font-size: 20px;
    font-weight: 600;
}
.container {
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
}
.psw{
    margin-left: -40px;
    /* margin-right: 55px; */
}
.forget{
    margin-left: 115px;
}
.nowSingup1{
    font-size: 16px;
    padding-bottom: -15px;
    text-decoration: none;
}
.signupNow{
  /* margin-bottom: -25px; */
  display: flex;
  margin-top: -25px;
  margin-left: 45px;
  /* align-items: center; */
  /* text-align: center; */
}
/* .nowSignup{
    float: right;
    padding-top: 16px;
    font-size: 18px;
} */
/* cross sign css end*/

/* the modal (background css start) */
/* .siginModal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 40%; 
    height: 40%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
} */
/* the modal (background css end) */
/* modal of content box start */
/* .modalContent{
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
} */
/* modal of content box end */

/* the close css start  */
/* .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
} */
/* .close:hover,
.close:focus {
  color: red;
  cursor: pointer;
} */
/* the close css end */

/* animate css start */
/* .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  } */
/* animate css end */


