* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: soleil,Helvetica,Arial,sans-serif;
  }
  
  /* css start */
  .mensArrival{
    /* border: 1px solid red; */
    width: 30%;
    height: 45px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}
.newArrivalsMens{
    font-weight: 600;
  font-size: 25px;
}
/* end */

/* product div css start */
.mainProDiv{         /*main div product */
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  gap: 2%;
  /* height: 900px; */
  align-items: center;

  /* start  */
  /* position:relative;
  height: 100%;
  padding:60px 0 30px 0;
  margin:0 auto 0 auto;
  -moz-box-sizing:border-box; */
  /* margin-left: 300px; */

    /* -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box; */
  
}

#leftdiv{    /* left div */
  display: block;
  flex-direction: column;
  /* border: 2px solide black; */
  width: 23%;
  height: 100%;
  margin: auto;
  padding: 1%;
  position: absolute;
  z-index: 1;
  top: 195px;
  left: 0%;
  
}
#rightSide {
  display: grid;
  grid-template-columns: repeat(3,332px);
  /* border: 2px solid black; */
  align-items: center;
  width: 75%;
  gap: 10px;
  height: 100%;
  /* overflow: hidden; */
  /* position: relative; */
  right: 0%;
  /* z-index: 1; */
 margin-left: 322px;
  /* top: 195px;  */
  
  
}
#rightSide  div{
  width: 100%;
  height: 300px;
  padding: 10px 15px;

  border: 1px solid rgb(224, 224, 224);
}
#imageUrl{
  width: 310px;
  height: 150px;
}
.shopBtn{
  padding: 5px 8px;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  /* background-color: #CCC; */
}
.ptagprice{
  font-size: 15px;
  height: 15px;
}
.ptagprice1{
  font-size: 15px;
  height: 15px;
  color: red;
  text-decoration: line-through;
}
.priceDiv{
   display: flex;
   gap: 20px;
}
.filterpro,#selectOpt {   /*filter div*/
  display: flex;
  border: 1px solid #CCC;
  outline: none;
  width: 100%;
  height: 25px;
  /* text-align: left; */
  font-size: 16px;
  /* padding: 1%; */
  /* align-items: center; */
}
.categoryNane{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1%;
  margin-top: 15px;
  /* align-items: center; */
}
/* product div css end */
 


